/**
 * Styles for the USF System Academics Portal
 * Author: Robert Greco (rgreco2@usf.edu)
 * Version 1.0
 */

$brand-primary: #006747;
$navbar-inverse-link-color: #fff;
$navbar-inverse-bg: $brand-primary;
$navbar-inverse-link-hover-bg: darken($navbar-inverse-bg, 5%);
$navbar-inverse-link-active-bg: darken($navbar-inverse-bg, 5%);
$navbar-inverse-brand-hover-bg: darken($navbar-inverse-bg, 5%);
$navbar-inverse-toggle-hover-bg: darken($navbar-inverse-bg, 5%);
$navbar-inverse-toggle-icon-bar-bg: rgba(255,255,255,0.5);

@import '../bootswatch-paper-3.3.7/_variables.scss';
@import '../bootstrap-3.3.7/stylesheets/_bootstrap.scss';
@import '../bootswatch-paper-3.3.7/_bootswatch.scss';

 .banner {
 	margin-top: 30px;
 	margin-bottom: 30px;
 }
 .navbar {
 	border-radius: 0;
 }
 .brand {
 	text-align: center;
 }
 .global-tools, .global-tools li {
 	text-transform: uppercase;
 	list-style: none;
 }
 .global-tools {
 	margin-left: 0;
 	padding-left: 0;
 	text-align: center;
 }
 .global-tools li {
 	display: inline-block;
 	padding-right: 20px;
 }
 .global-tools li:last-of-type {
 	padding-right: 0;
 }
 .footer {
 	border-top: #ccc 1px solid;
 	padding-top: 15px;
    margin-top: 15px;
 }
 .footer ul, .footer ul li {
 	margin-left: 0;
 	padding-left: 0;
 	list-style: none;
 }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	 .brand {
	 	text-align: left;
	 }
	 .global-tools {
	 	text-align: right;
	 }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
